.register-card {
    width: 100%;
    max-width: 430px;
    padding: 35px;
    border-radius: 22px;
    background: linear-gradient(145deg, #0b0b0b, #1a1a1a);
    border: 1px solid rgba(255, 215, 0, 0.35);
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.15),
        0 25px 60px rgba(0, 0, 0, 0.9);
}

/* ===== Title ===== */
.register-title {
    padding-bottom: 5px;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(90deg, #ffd700, #ffb703, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

/* ===== Inputs ===== */
.custom-input {
    height: 56px;
    background: transparent;
    border-radius: 14px;
    border: 2px solid rgba(255, 215, 0, 0.45);
    color: #fff;
    font-size: 16px;
    padding-left: 16px;
}

.custom-input::placeholder {
    color: rgba(255, 215, 0, 0.65);
}

.custom-input:focus {
    background: transparent;
    color: #fff;
    border-color: #ffd700;
    box-shadow: 0 0 12px rgba(255, 215, 0, 0.6);
}

.btn-register {
    height: 56px;
    margin-top: 10px;
    border-radius: 32px;
    background: linear-gradient(135deg,
            #ffd700,
            #ffb703,
            #ffd700);
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border: none;
    box-shadow: 0 0 18px rgba(255, 215, 0, 0.7);
    transition: all 0.3s ease;
}

.btn-register:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.9);
    color: #fff;
}
.password-wrapper {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}


/* ===== Login Button ===== */
.btn-login {
    height: 56px;
    border-radius: 32px;
    background: transparent;
    border: 2px solid #ffd700;
    /* color: #ffd700; */
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-login:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.9);
    color: #fff;
}

/* ===== Cursor Hover Golden Light (CSS Only) ===== */

.register-card {
    position: relative;
    overflow: hidden;
}

/* Activate on hover */
.register-card:hover::before {
    opacity: 1;
}