.home-body {
    overflow-x: hidden;
}

/* start hero section css */

.hero-sec>.row {
    margin: 0px;
    padding: 0px;
}

.hero-sec>.row>.col-lg-12 {
    margin: 0px;
    padding: 0px;
}

.hero-sec img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.hero-sec .hero-img {
    position: relative;
}

.hero-img .hero-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

.hero-inner-text>p {
    margin-top: 0px;
    font-size: 44px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    text-transform: capitalize !important;
}

.hero-inner-text>p>span {
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.hero-inner-text>button {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
}

.hero-inner-text>button:hover {
    color: white;
    background-color: #2a2828;
    transition: all 0.3s ease-in-out;
}


/* end hero section css */

/* start service section css */

/* start Service Section */

.service-sec {
    background: #fff;
}

.service-inner {
    align-items: center;
    padding: 12px 0;
}

/* Icon */
.serivce-img img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

/* Text */
.service-title h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #000;
    white-space: nowrap;
    text-transform: uppercase;
}

.service-title span {
    font-size: 14px;
    white-space: nowrap;
    color: #666;
    display: block;
    margin-top: 4px;
}

/* Responsive */
@media (max-width: 991px) {
    .service-inner {
        justify-content: center;
        text-align: left;
    }
}

@media (max-width: 575px) {
    .service-inner {
        justify-content: center;
        text-align: left;
    }

    .serivce-img img {
        width: 36px;
        height: 36px;
    }

    .service-title h4 {
        font-size: 14px;
    }

    .service-title span {
        font-size: 13px;
    }
}

/* end service section css */

/* start category sec */

.category-title {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.category-title h1 {
    display: inline-block;
    padding: 0 25px;
    font-size: 40px;
    font-weight: 600;
    background: #fff;
    position: relative;
    z-index: 2;
}

.category-title::before,
.category-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 2px;
    transform: translateY(-50%);
}

.category-title::before {
    left: 10%;
    background-image: linear-gradient(to right, #babdc2, #c72028);
}

.category-title::after {
    right: 10%;
    background-image: linear-gradient(to left, #babdc2, #c72028);
}

/* Category Item */
.cate-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cate-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.cate-img:hover img {
    transform: scale(1.1);
}

.cate-img-inner h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 12px 8px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    font-size: 18px;
    font-weight: 600;
    z-index: 2;
    transition: all 0.3s ease;
}

.cate-img:hover .cate-img-inner h4 {
    background: #c72028;
    color: #fff;
}


.cate-img .cate-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    background-color: #ece3e3;
    color: #000;
    font-weight: 600;
    padding: 8px 15px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s ease;
}

.cate-img:hover .cate-btn {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.cate-img .cate-btn:hover {
    background-color: #c72028;
    color: #fff;
}

.cate-img:hover .cate-btn {
    top: 45%;
    left: 50%;
    transform: translate(-50%);
}

.category-slider-wrapper {
    position: relative;
}

.cat-prev,
.cat-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: 1px solid #c72028;
    color: #c72028;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cat-prev {
    left: -15px;
}

.cat-next {
    right: -15px;
    /* adjust as needed */
}

@media (max-width: 991px) {
    .cate-img img {
        height: 220px;
    }
}

/* Mobile */
@media (max-width: 575px) {
    .cate-img img {
        height: 180px;
    }
}

/* end category sec */

/* start best sell sec */
.best-sec {
    margin: 70px 0px 40px 0px;
}

.best-item {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.best-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 260px;
}

.best-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.best-inner-text {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 2;
    color: #fff;
    max-width: 80%;
}

.best-inner-text span {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.best-inner-text h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}

.best-inner-text h3 strong {
    color: #c72028;
}

.best-inner-text button {
    background: #c72028;
    border: none;
    color: #fff;
    padding: 10px 22px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.best-inner-text button:hover {
    background: #3b3a3a;
}

@media (max-width: 991px) {
    .best-inner-text h3 {
        font-size: 26px;
    }
}

@media (max-width: 575px) {
    .best-inner-text {
        left: 20px;
    }

    .best-inner-text h3 {
        font-size: 22px;
    }
}

/* end best sell sec */

/* start collection css */

.collection-sec {
    margin: 80px 0px 30px 0px;
}

.category-title>h1>span {
    color: #c72028;
}

/* Card */
.collection-item {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    overflow: hidden;
}

/* IMAGE – full cover, no padding */
.collection-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.badge {
    position: absolute;
    top: 15px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

.badge.new {
    left: 15px;
    background: #061625;
}

.badge.sale {
    right: 15px;
    background: #86898e;
}

.collection-item h4,
.collection-item .price,
.collection-item button {
    padding-left: 20px;
    padding-right: 20px;
}

.collection-item h4 {
    margin-top: 20px;
    margin-bottom: 8px;
}

.collection-item .price {
    margin-bottom: 20px;
}

/* Button */
.collection-item button {
    margin-bottom: 20px;
    background: #c72028;
    color: #fff;
    border: none;
    margin-left: 20px;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}

.collection-item button:hover {
    background: #3b3a3a;
}

/* Mobile view – 2 cards per row */
@media (max-width: 767px) {
    .collection-sec .col-lg-3 {
        width: 50%;
        flex: 0 0 50%;
    }

    .collection-item img {
        height: 260px;
    }

    .collection-item h4 {
        font-size: 15px;
    }

    .collection-item .price {
        font-size: 14px;
    }

    .collection-item button {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
}

/* end collection css */

/* start testimonial sec */

.testi-sec {
    padding: 35px 0px 30px 0px;
}

.testi-slider .swiper-slide {
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
}

.testi-item {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.testi-left {
    width: 200px;
    text-align: center;
}

.testi-left img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.testi-left h4 {
    margin-top: 15px;
    font-size: 18px;
}

.testi-left span {
    font-size: 14px;
    color: #777;
}

.testi-right {
    position: relative;
    max-width: 700px;
    padding-left: 50px;
    flex: 1;
}

.testi-right::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -20px;
    top: -15px;
    font-size: 40px;
    line-height: 36px;
    color: #c72028;
}

.testi-right p {
    font-style: italic;
    color: #555;
    line-height: 1.7;
}

.testi-slider .swiper-pagination {
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.testi-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #d9d9d9;
    opacity: 1;
    margin: 0 8px;
    transition: all 0.3s ease;
}

/* active dot */
.testi-slider .swiper-pagination-bullet-active {
    border-color: #c72028;
    background-color: #f80011c9;
    box-shadow:
        0 0 0 3px rgba(199, 32, 40, 0.25),
        0 0 10px rgba(199, 32, 40, 0.6);
}

/* ===== Responsive ===== */
@media (max-width: 992px) {
    .testi-item {
        gap: 30px;
    }

    .testi-right {
        padding-left: 30px;
    }
}

@media (max-width: 768px) {
    .testi-item {
        flex-direction: column;
        text-align: center;
    }

    .testi-right {
        padding-left: 0;
        max-width: 100%;
    }

    .testi-right::before {
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }

    .testi-right p {
        padding-top: 30px;
    }
}

@media (max-width: 480px) {
    .testi-left img {
        width: 100px;
        height: 100px;
    }

    .testi-left h4 {
        font-size: 16px;
    }

    .testi-left span {
        font-size: 12px;
    }

    .testi-right p {
        font-size: 14px;
        line-height: 1.5;
    }

    .testi-slider .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }
}

/* end testimonial sec */

/* start brand sec */

.brand-sec {
    margin: 10px 0px 50px 0px;
}
.brand-sec .category-title {
    text-align: center;
    margin-bottom: 40px;
}

.brand-sec .category-title h1 {
    font-size: 36px;
    font-weight: 700;
}

.brand-sec .category-title h1 span {
    color: #c72028;
}

.brand-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-slider img {
    max-width: 150px;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: all 0.3s ease;
}

.brand-slider img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}

/* Swiper navigation arrows */
.brand-slider .swiper-button-next,
.brand-slider .swiper-button-prev {
    color: #c72028;
}

/* Responsive */
@media (max-width: 768px) {
    .brand-slider img {
        max-width: 120px;
    }
}

@media (max-width: 480px) {
    .brand-slider img {
        max-width: 100px;
    }
}


/* end brand sec */